@{
  Layout = "_Layout";
}

@model PierreSweets.Models.Flavor

<div class="jumbotron text-center">
  <h2>Add a new flavor</h2>
</div>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @required="required" })
  <input type="submit" value="Add new flavor" />
}
<p>@Html.ActionLink("Show all categories", "Index")</p>